:root {
    --footer: #B4BC5A;
    --navbar: #E1EB71;
    --colorbar: #E1EB71;
    --maintext: black;
    --carouseltext: black;
    --mainbg: #FDFDFD;
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    background-color: var(--footer);
    color: var(--maintext);
}

.jumbotron {
    padding: 120px 30px 70px 30px;
    margin:0px auto;
    background-image: url("https://raw.githubusercontent.com/Morganhtrotter/epstein-ed/dependabot/npm_and_yarn/bootstrap-4.3.1/public/assets/images/jumbo.png?token=AIPE5ZROEPDR5AQR7UCSFCTAUGQ76");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    color: var(--maintext);
    font-family: 'Raleway', sans-serif;
    border-radius: 0px;
}

.navbar-dark {
    background-color: var(--navbar);
    font-family: 'Roboto', sans-serif;
}

.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.body {
    font-family: 'Montserrat', serif;
}

p, ul {
    font-family: 'Montserrat', serif;
}

h3 {
    margin: 20px 0;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

h2, h4 {
    font-family: 'Oswald', sans-serif;
}

.cardTitle {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 5vh;
    opacity: 0.5;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  [class*="cardTitle"] {
    font-size: 20pt;
  }
}

.bg {
    background-color: floralwhite;
    height: 100vh;
    background-image: url("http://shopsafemarin-env.eba-vjj6mcnm.us-east-2.elasticbeanstalk.com/assets/images/bananas.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: block;
    margin-left: -6px;
}

.logom {
    display: none;
}

@media all and (max-width: 499px) {
    .logo {display: none;}
    .logom {display: block}
}

.colorBar {
    background-color: var(--colorbar);
    height: 15vh;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addressFooter {
    color: white;
}

.carousel {
    height: 75vh;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.caption {
    position: absolute;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

.captionText {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    padding: 16px;
    border-radius: 5px;
    color: var(--carouseltext);
}
.carouselImg {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

@media only screen and (max-device-width: 724px) {
  .carouselImg {
    width: unset;
    background-size: cover;
  }
}

.homeAbout {
    padding: 50px 0;
}

.forms {
    margin-bottom: 50px;
}

.headshot {
    width: 100%;
}

.caps {
    font-weight: bold;
}

.testimonial {
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
    background-color: var(--colorbar);
    margin: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
}

.testimonialText, .headerOutline {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
}

.navbar-dark .navbar-nav .nav-link  {
    color: black !important;
}

.navbar-dark .navbar-nav .nav-link:hover  {
    color: blue !important;
}

body {
    color: var(--maintext);
    background-color: var(--mainbg)
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 5px 10px #606060;
}